body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a, a:link, a:visited, a:hover, a:active {
    color: #7e8c8d!important;
    text-decoration: none!important;
}

input, select {
    height: 60px!important;
    font-size: 25px!important;
}