.check {
    display: flex;
    flex-direction: column;
}

#calendar {
    margin-bottom: 45px;
}

.check-form {
    display: flex;
    flex-direction: column;
}

.check-button {
    margin-top: 70px;
    font-size: 30px!important;
    width: 50%;
    align-self: center;
}

.error-mes {
    font-size: 20px;
    color: #ff0000;
}

.field {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field span {
    display: none;
    font-size: 30px;
    color: #7e8c8d;
    margin-bottom: 10px;
}

.error-mes {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 0 20px;
    font-size: 23px;
    color: #ff0000;
}

.tips{
    color: #7e8c8d;
}