.reservation {
    padding: 20px;
}

.form {
    padding: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 20px;
}

.form div {
    margin: 20px 0;
}

label {
    padding: 7px 20px 5px 0;
    font-size: 25px;
    margin-bottom: 20px;
}

.submit {
    margin-top: 30px;
    font-size: 30px!important;
}

.error-mes {
    font-size: 23px;
    color: #ff0000;
}

.foot_ {
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.foot_ span {
    color: #7e8c8d;
}