<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load staticfiles %}
<head>
    {% block title %}
        <title>提交意见|智慧展厅</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/suggestion.css" %}">
        <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" media="screen">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="suggestion">
        <form class="form" method="post" action="" id="suggestion">
            {% csrf_token %}
            <div class="input-group-lg">
                <label>联系方式 <span style="color:#ff0000">*</span></label>
                <input type="text" class="form-control" placeholder="" name="mobile"
                       value="">
            </div>
            <div class="input-group-lg">
                <label>意见或建议 <span style="color:#ff0000">*</span></label>
                <textarea id="message" class="form-control" style="height: 200px" placeholder=""
                          name="message"></textarea>
            </div>
            <div class="error-mes">
                {% for key,error in message_form.errors.items %}
                    {{ error }}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg submit">提 交</button>
        </form>
        <div class="success" id="success">
            <span>感谢您的反馈，我们会对您的意见或建议作参考</span>
        </div>
    </div>
{% endblock %}
</body>
{% block scripts %}
    <script>
        $('#message').addClass('active')
    </script>
    <script>
        if ({{ flag }} == 0) {
            document.getElementById('success').style.display = 'none';
        }
        else {
            document.getElementById('suggestion').style.display = 'none';
        }
    </script>
{% endblock %}
</html>